.marks-wrapper {
  padding-bottom: 20px;
}

p {
  margin: 0;
}
li {
  margin: 15px 0 20px;
  list-style: none;
}

ul {
  padding: 0;
  margin: 0;
}

.card {
  min-width: 250px;
  margin: 5px 10px;
}

.row {
  margin: 0;
}

.card-body {
  padding-right: 75px;
}

.card:first-child {
  margin: 5px 10px 5px 10px;
}

.card:last-child {
  margin: 5px 10px 5px 10px;
}

.title_lines {
  position: relative;
  display: block;
  font-size: 30px;
  z-index: 1;
  overflow: hidden;
  text-align: center;
  color: black;
}

.title_lines:before,
.title_lines:after {
  position: absolute;
  top: 51%;
  overflow: hidden;
  width: 48%;
  height: 1px;
  content: "\a0";
  background-color: #cccccc;
  margin-left: 2%;
}

.title_lines:before {
  margin-left: -50%;
  text-align: right;
}

.bestanden {
  border: 1px solid rgb(91 162 100 / 40%);
  box-shadow: 0 0 5px rgb(44 216 65 / 54%);
}

.nicht_bestanden {
  border: 1px solid rgb(162 91 91 / 40%);
  box-shadow: 0 0 5px rgb(216 44 44 / 54%);
}

.group-active:hover .edit-area {
  visibility: visible;
}

.edit-area {
  height: 100%;
  visibility: hidden;
  margin: 3px;
  place-items: center;
}

.edit-area button {
  padding: 9px 5px;
}

.card:hover .mark-active {
  visibility: visible;
}

.mark-active {
  visibility: hidden;
}
