<div>
  <h2>Noten</h2>
  <ul>
    <li *ngFor="let course of getActiveMark(); let i = index">
      <div *ngIf="i == 0" class="position-relative text-center">
        <h3 class="title_lines">
          {{ activeModuleName }}
        </h3>
      </div>
      <div
        class="p-2 group-active"
        *ngFor="let subject of course['test_daten']"
      >
        <div class="d-flex">
          <h5 class="d-inline p-2 font-italic">{{ subject["test_art"] }}</h5>
          <div class="edit-area d-flex">
            <app-group-modal
              [marks]="marks"
              [subject]="subject"
              [activeModule]="activeModule"
              [activeCourse]="activeCourse"
              [activeSemester]="activeSemester"
              [groupId]="subject.group_id"
              (handleAddMark)="handleAddMark($event)"
              (handleDeleteGroup)="handleDeleteGroup($event)"
              (handleUpdateGroup)="handleUpdateGroup($event)"
            ></app-group-modal>
          </div>
        </div>
        <div class="row">
          <ul class="d-flex flex-wrap">
            <li class="d-flex p-0" *ngFor="let tests of subject['tests']">
              <div
                [ngClass]="{
                  bestanden:
                    +tests.erreichte_punkte >= +tests.min_punkte_bestanden,
                  nicht_bestanden:
                    +tests.erreichte_punkte < +tests.min_punkte_bestanden
                }"
                class="card"
              >
                <div class="card-body">
                  <app-mark-modal
                    [course_id]="course.course_id"
                    [module_id]="course.module_id"
                    [semester_id]="course.semester_id"
                    [group_id]="subject.group_id"
                    [tests]="tests"
                    (getMetaById)="handleGetMetaById($event)"
                    (handleDeleteMark)="handleDeleteMark($event)"
                    (handleUpdateMark)="handleUpdateMark($event)"
                  ></app-mark-modal>
                  <h5 class="card-title">{{ tests.titel }}</h5>
                  <p class="card-text">
                    Prüfungstyp:
                    {{
                      tests.arbeitspartner.length == 0
                        ? "Einzelarbeit"
                        : "Gruppenarbeit"
                    }}
                  </p>
                  <div class="d-flex" *ngIf="tests.arbeitspartner.length > 0">
                    <p>Team:&nbsp;</p>
                    <p
                      class="card-text"
                      *ngFor="let partner of tests.arbeitspartner"
                    >
                      {{ partner }} &nbsp;
                    </p>
                  </div>
                  <p class="card-text">
                    Erreichte Punkte: {{ tests.erreichte_punkte }}
                  </p>
                  <p class="card-text">
                    Maximale Punkte: {{ tests.max_punkte }}
                  </p>
                  <p class="card-text font-weight-bold">
                    {{
                      +tests.erreichte_punkte >= +tests.min_punkte_bestanden
                        ? "bestanden"
                        : "nicht bestanden"
                    }}
                  </p>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </li>
    <li class="p-2 group-active">
      <div class="d-flex">
        <h5 class="d-inline p-2 font-italic">Gruppe hinzufügen</h5>
        <div class="edit-area d-flex">
          <app-addgroup-modal
            [marks]="marks"
            [activeModule]="activeModule"
            [activeCourse]="activeCourse"
            [activeSemester]="activeSemester"
            (handleAddGroup)="handleAddGroup($event)"
          ></app-addgroup-modal>
        </div>
      </div>
    </li>
  </ul>
</div>
