<div class="topcontainter">
  <button class="icon btn btn-link" (click)="open(changeModule)">
    <fa-icon [icon]="pencilIcon"></fa-icon>
  </button>
  <button class="icon btn btn-link" (click)="handleRemoveModule()">
    <fa-icon [icon]="eraseIcon"></fa-icon>
  </button>
</div>

<!-- Modal -->
<ng-template #changeModule let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Modul ändern</h4>
    <button
      type="button"
      class="close"
      aria-label="Close"
      (click)="modal.dismiss('Cross click')"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <form (ngSubmit)="handleChangeModule(form.value)" #form="ngForm" novalidate>
    <div class="modal-body">
      <div class="d-flex">
        <p class="pr-3">Course-Id: {{ courseId }}</p>
        <p class="pr-3">Semester-Id: {{ semesterId }}</p>
        <p class="pr-3">Module-Id: {{ subject.module_id }}</p>
      </div>
      <div>
        <label for="titelModule">Titel:&nbsp;</label>
        <input
          id="titelModule"
          type="text"
          name="titelModule"
          [ngModel]="this.subject.name"
          required
        />
      </div>
      <div>
        <label for="beschreibungModule">Beschreibung:&nbsp;</label>
        <input
          id="beschreibungModule"
          type="text"
          name="beschreibungModule"
          [ngModel]="this.subject.beschreibung"
        />
      </div>
    </div>
    <div class="modal-footer">
      <button
        type="button"
        class="btn btn-outline-dark"
        (click)="modal.dismiss('Cross click')"
      >
        Zurück
      </button>
      <button
        type="submit"
        class="btn btn-outline-dark"
        (click)="modal.close('Save click')"
        [disabled]="form.invalid"
      >
        Ändern
      </button>
    </div>
  </form>
</ng-template>
