<div class="d-flex">
  <button class="icon btn btn-link" (click)="open(modal_add)">
    <fa-icon [icon]="plusIcon"></fa-icon>
  </button>
  <button class="icon btn btn-link" (click)="open(modal_edit)">
    <fa-icon [icon]="pencilIcon"></fa-icon>
  </button>
  <button class="icon btn btn-link" (click)="handleRemoveGroup(groupId)">
    <fa-icon [icon]="eraseIcon"></fa-icon>
  </button>
</div>

<!-- Modal modal_add -->
<ng-template #modal_add let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Noten hinzufügen</h4>
    <button
      type="button"
      class="close"
      aria-label="Close"
      (click)="modal.dismiss('Cross click')"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <form
    (ngSubmit)="
      handleAddMark(
        form.value,
        form.valid,
        activeCourse,
        activeSemester,
        activeModule,
        groupId
      )
    "
    #form="ngForm"
    novalidate
  >
    <div class="modal-body">
      <div class="d-flex">
        <p class="pr-3">Course-Id: {{ activeCourse }}</p>
        <p class="pr-3">Semester-Id: {{ activeSemester }}</p>
        <p class="pr-3">Module-Id: {{ activeModule }}</p>
      </div>
      <div>
        <label for="partner">Titel:&nbsp;</label>
        <input id="titel" type="text" name="titel" [ngModel]="" required />
      </div>
      <div>
        <label for="partner">Partner:&nbsp;</label>
        <input id="partner" type="text" name="arbeitspartner" [ngModel]="" />
      </div>
      <div>
        <label for="partner">Erreichte Punkte:&nbsp;</label>
        <input
          id="e_punkte"
          type="text"
          name="erreichte_punkte"
          [ngModel]=""
          required
        />
      </div>
      <div>
        <label for="partner">Maximale Punkte:&nbsp;</label>
        <input
          id="max_punkte"
          type="text"
          name="max_punkte"
          [ngModel]=""
          required
        />
      </div>
      <div>
        <label for="partner">Min. zu erreichende Punkte:&nbsp;</label>
        <input
          id="min_punkte"
          type="text"
          name="min_punkte_bestanden"
          [ngModel]=""
          required
        />
      </div>
    </div>
    <div class="modal-footer">
      <button
        type="button"
        class="btn btn-outline-dark"
        (click)="modal.dismiss('Cross click')"
      >
        Zurück
      </button>
      <button
        type="submit"
        class="btn btn-outline-dark"
        (click)="modal.close('Save click')"
        [disabled]="form.invalid"
      >
        Ändern
      </button>
    </div>
  </form>
</ng-template>

<!-- Modal modal_edit -->
<ng-template #modal_edit let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">
      Gruppierungsbezeichung bearbeiten
    </h4>
    <button
      type="button"
      class="close"
      aria-label="Close"
      (click)="modal.dismiss('Cross click')"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <form
    (ngSubmit)="handleSubmitGroupChange(form.value)"
    #form="ngForm"
    novalidate
  >
    <div class="modal-body">
      <div class="d-flex">
        <div class="d-flex">
          <p class="pr-3">Course-Id: {{ activeCourse }}</p>
          <p class="pr-3">Semester-Id: {{ activeSemester }}</p>
          <p class="pr-3">Module-Id: {{ activeModule }}</p>
          <p class="d-flex">
            Group-Id:
            <input
              id="group_id"
              type="text"
              class="noInput"
              name="group_id"
              [ngModel]="subject.group_id"
              hidden
            />
            {{ subject.group_id }}
          </p>
        </div>
      </div>
      <div>
        <label for="test_art">Bezeichnung:&nbsp;</label>
        <input
          id="test_art"
          type="text"
          name="test_art"
          [ngModel]="subject.test_art"
        />
      </div>
    </div>
    <div class="modal-footer">
      <button
        type="button"
        class="btn btn-outline-dark"
        (click)="modal.dismiss('Cross click')"
      >
        Zurück
      </button>
      <button
        type="submit"
        class="btn btn-outline-dark"
        (click)="modal.close('Save click')"
        [disabled]="form.invalid"
      >
        Ändern
      </button>
    </div>
  </form>
</ng-template>
