<div class="topcontainter">
  <button class="icon btn btn-link" (click)="open(mymodal)">
    <fa-icon [icon]="pencilIcon"></fa-icon>
  </button>
  <button class="icon btn btn-link" (click)="handleDeletionMark(tests)">
    <fa-icon [icon]="eraseIcon"></fa-icon>
  </button>
</div>

<!-- Modal -->
<ng-template #mymodal let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">{{ tests.titel }}</h4>
    <button
      type="button"
      class="close"
      aria-label="Close"
      (click)="modal.dismiss('Cross click')"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <form
    (ngSubmit)="
      handleSubmitUpdateMark(
        form.value,
        form.valid,
        course_id,
        semester_id,
        module_id,
        group_id
      )
    "
    #form="ngForm"
    novalidate
  >
    <div class="modal-body">
      <div class="d-flex">
        <p class="pr-3">Course-Id: {{ course_id }}</p>
        <p class="pr-3">Module-Id: {{ group_id }}</p>
        <p class="d-flex">
          Mark-Id:
          <input
            id="test_id"
            type="text"
            class="noInput"
            name="test_id"
            [ngModel]="tests.test_id"
            hidden
          />
          {{ tests.test_id }}
        </p>
      </div>
      <div>
        <label for="partner">Titel:&nbsp;</label>
        <input
          id="titel"
          type="text"
          name="titel"
          [ngModel]="tests.titel"
          required
        />
      </div>
      <div>
        <label for="partner">Partner:&nbsp;</label>
        <input
          id="partner"
          type="text"
          name="arbeitspartner"
          [ngModel]="tests.arbeitspartner"
        />
      </div>
      <div>
        <label for="partner">Erreichte Punkte:&nbsp;</label>
        <input
          id="e_punkte"
          type="text"
          name="erreichte_punkte"
          [ngModel]="tests.erreichte_punkte"
          required
        />
      </div>
      <div>
        <label for="partner">Maximale Punkte:&nbsp;</label>
        <input
          id="max_punkte"
          type="text"
          name="max_punkte"
          [ngModel]="tests.max_punkte"
          required
        />
      </div>
      <div>
        <label for="partner">Min. zu erreichende Punkte:&nbsp;</label>
        <input
          id="min_punkte"
          type="text"
          name="min_punkte_bestanden"
          [ngModel]="tests.min_punkte_bestanden"
          required
        />
      </div>
    </div>
    <div class="modal-footer">
      <button
        type="button"
        class="btn btn-outline-dark"
        (click)="modal.dismiss('Cross click')"
      >
        Zurück
      </button>
      <button
        type="submit"
        class="btn btn-outline-dark"
        (click)="modal.close('Save click')"
        [disabled]="form.invalid"
      >
        Ändern
      </button>
    </div>
  </form>
</ng-template>
