header {
  position: relative;
  height: 500px;
  width: 100%;
}

.title-wrapper {
  position: relative;
  bottom: 85px;
  max-width: 1600px;
  width: 100%;
  height: calc(100% + 50px);
  margin: 0 auto;
}

h1 {
  position: absolute;
  bottom: 00px;
  font-family: "Montserrat-Light", sans-serif;
  color: white;
  font-size: 55px;
  text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.39);
}

h5 {
  position: absolute;
  bottom: 10px;
  right: 10px;
  color: black;
  font-size: 12px;
}

h5 a {
  color: black;
  font-weight: 800;
}

picture {
  position: absolute;
  display: block;
  overflow: hidden;
  /* Width and height can be anything. */
  top: 0;
  bottom: 0;
  width: 100%;
  z-index: -1;
}

picture img {
  display: block;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  object-position: 80% 90%;
  opacity: 0.85;
}
