<header>
  <h1 class="title">Notenübersicht</h1>
  <picture>
    <img src="assets/img/trent-erwin-unsplash.jpg" alt="Stock" />
  </picture>
  <h5>
    Photo by
    <a
      href="https://unsplash.com/@tjerwin?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText"
      >Trent Erwin</a
    >
    on
    <a
      href="https://unsplash.com/s/photos/subjects-school?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText"
      >Unsplash</a
    >
  </h5>
</header>
