footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.nav-wrapper {
  background-color: #ededf3;
}

.nav-innerwrapper {
  max-width: 1600px;
  width: 100%;
  margin: 0 auto;
}

p {
  margin: 0;
}

a {
  color: rgb(73, 73, 73);
  font-size: 1.2rem;
  margin: 0;
}

a:hover {
  color: rgb(146, 146, 146);
}

ul:first-child li p {
  padding-left: 0;
}
