<div>
  <app-overview
    class="d-block"
    [courses]="course"
    [semesters]="semesters"
    [marks]="marks"
    [title]="title"
    [activeSemester]="activeSemester"
    [activeCourse]="activeCourse"
    [activeModule]="activeModule"
    (changeSemester)="handleActiveSemester($event)"
    (changeCourse)="handleActiveCourse($event)"
    (changeModule)="handleActiveModule($event)"
    (addSemester)="addSemester($event)"
    (changingSemester)="changeSemester($event)"
    (removeSemester)="removeSemester($event)"
    (addModule)="addModule($event)"
    (changingModule)="changeModule($event)"
    (removeModule)="removeModule($event)"
    (addCourse)="addCourse($event)"
    (changingCourse)="changeCourse($event)"
    (removeCourse)="removeCourse($event)"
  ></app-overview>
  <app-marks
    class="d-block"
    [marks]="marks"
    [filteredMarks]="filteredMarks"
    [activeCourse]="activeCourse"
    [activeCourseName]="activeCourseName"
    [activeSemester]="activeSemester"
    [activeModule]="activeModule"
    [activeModuleName]="activeModuleName"
    (addMark)="addMark($event)"
    (removeMark)="removeMark($event)"
    (changeMark)="changeMark($event)"
    (addGroup)="addGroup($event)"
    (changeGroup)="changeGroup($event)"
    (removeGroup)="removeGroup($event)"
  >
  </app-marks>
</div>
