<div>
  <app-overview
    class="d-block"
    [courses]="course"
    [semester]="semester"
    [title]="title"
    [activeSemester]="activeSemester"
    [activeCourse]="activeCourse"
    [activeModule]="activeModule"
    (changeSemester)="handleActiveSemester($event)"
    (changeCourse)="handleActiveCourse($event)"
    (changeModule)="handleActiveModule($event)"
  ></app-overview>
  <app-marks
    class="d-block"
    [marks]="marks"
    [filteredMarks]="filteredMarks"
    [activeCourse]="activeCourse"
    [activeCourseName]="activeCourseName"
    [activeSemester]="activeSemester"
    [activeModule]="activeModule"
    [activeModuleName]="activeModuleName"
    (setMetaById)="setMetaById()"
    (updateMark)="updateMark($event)"
  >
    <app-mark-modal></app-mark-modal>
  </app-marks>
</div>
