<div class="nav-wrapper fixed-top">
  <div class="nav-innerwrapper">
    <ul class="nav">
      <li class="nav-item">
        <a class="nav-link active" href="#overview">Notenübersicht</a>
      </li>
      <!-- <li class="nav-item">
        <a class="nav-link" href="#">Eingabe</a>
      </li> -->
      <li class="flex-grow-1"></li>
      <li class="nav-item">
        <a
          class="nav-link"
          href="https://github.com/nielll/Marks"
          target="_blank"
          ><p>Code @ Github</p></a
        >
      </li>
    </ul>
  </div>
</div>
