<div class="mb-4 mt-4">
  <h2>Kurse und Module</h2>
  <div class="mb-4">
    <label for="kurs">Kurse: </label>
    <div style="clear: both"></div>
    <select
      id="kurs"
      class="custom-select col-md-2"
      #course
      (change)="handleCourseChange($event.target.value)"
    >
      <option *ngFor="let course of courses">{{ course.titel }}</option>
    </select>
  </div>
  <ul class="module-wrap">
    <li *ngFor="let module of getActiveModules(); let i = index">
      <div *ngIf="module.course_id == activeCourse" class="pt-4 pb-5">
        <div class="position-relative text-center">
          <h3 class="title_lines">Semester {{ i + 1 }}</h3>
        </div>
        <div class="row mt-4 mb-4">
          <ul
            class="d-flex flex-wrap col-md-12 p-0 p-0"
            *ngIf="module['module'].length > 1"
          >
            <li
              id="mod{{ i }}"
              class="subject"
              *ngFor="let subject of module['module']; let j = index"
            >
              <div
                [ngClass]="{
                  selected:
                    activeModule == subject.module_id &&
                    activeCourse == module.course_id &&
                    activeSemester == module.semester_id
                      ? 'selected'
                      : ''
                }"
                class="card"
                id="mod{{ i }}el{{ j }}"
                #subject
                (click)="
                  handleModuleOnClick(subject.module_id, module.semester_id)
                "
              >
                <div class="card-body">
                  <h5 class="card-title">{{ subject.name }}</h5>
                  <p class="card-text">
                    {{ subject.beschreibung }}
                  </p>
                </div>
              </div>
            </li>
          </ul>
          <div *ngIf="module['module'].length == 1">
            <div class="card selected">
              <div class="card-body">
                <h5 class="card-title">{{ module["module"][0].name }}</h5>
                <p class="card-text">
                  {{ module["module"][0].beschreibung }}
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </li>
  </ul>
</div>
