<div class="position-relative mb-4 mt-4">
  <div id="overview"></div>
  <h2>Kurse und Module</h2>
  <div class="mb-4">
    <label for="kurs">Kurse: </label>
    <div style="clear: both"></div>
    <select
      id="kurs"
      class="custom-select col-md-2"
      #course
      (change)="handleCourseChange($event.target.value)"
    >
      <option *ngFor="let course of courses">{{ course.titel }}</option>
    </select>
  </div>
  <ul class="module-wrap">
    <li
      class="course-wrap"
      *ngFor="let semester of getActiveSemester(); let i = index"
    >
      <div *ngIf="semester.course_id == activeCourse" class="pb-5">
        <div class="position-relative text-center">
          <div class="semester-control">
            <div class="semester-control-inner">
              <app-semester-modal
                [activeCourse]="activeCourse"
                [activeSemester]="activeSemester"
                [courseId]="semester.course_id"
                [semesterId]="semester.semester_id"
                [semesters]="semesters"
                [marks]="marks"
                [semester]="semester"
                (changeSemesterName)="changeSemesterName($event)"
                (removeSemester)="handleRemoveSemester($event)"
                (changeSemester)="handleChangeSemester($event)"
                (addModule)="handleAddModule($event)"
              ></app-semester-modal>
            </div>
          </div>
          <h3 class="title_lines">{{ semester.name }} {{ i + 1 }}</h3>
        </div>
        <div class="row mt-4 mb-4">
          <ul class="d-flex flex-wrap col-md-12 p-0 p-0">
            <li
              id="mod{{ i }}"
              class="subject"
              *ngFor="let subject of semester['module']; let j = index"
            >
              <div
                [ngClass]="{
                  selected:
                    activeModule == subject.module_id &&
                    activeCourse == semester.course_id &&
                    activeSemester == semester.semester_id
                      ? 'selected'
                      : ''
                }"
                class="card"
                id="mod{{ i }}el{{ j }}"
                #subject
                (click)="
                  handleModuleOnClick(subject.module_id, semester.semester_id)
                "
              >
                <div class="card-body">
                  <h5 class="card-title">{{ subject.name }}</h5>
                  <p class="card-text">
                    {{ subject.beschreibung }}
                  </p>
                  <app-module-modal
                    class="module-control"
                    [courseId]="semester.course_id"
                    [semesterId]="semester.semester_id"
                    [subject]="subject"
                    [semesters]="semesters"
                    [marks]="marks"
                    (removeModule)="handleRemoveModule($event)"
                    (changeModule)="handleChangeModule($event)"
                  ></app-module-modal>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </li>
    <li class="p-2 semester-active">
      <div class="d-flex">
        <h5 class="d-inline p-2 font-italic">
          {{ semesterName ? semesterName : "Semester" }}
          hinzufügen
        </h5>
        <div class="edit-area d-flex">
          <app-addsemester-modal
            [semesters]="semesters"
            [activeCourse]="activeCourse"
            [name]="semesterName"
            (addSemester)="handleAddSemester($event)"
          ></app-addsemester-modal>
        </div>
      </div>
    </li>
  </ul>
</div>
