#overview {
  position: absolute;
  top: -68px;
}

.subject {
  min-width: 250px;
  margin: 5px 10px;
  cursor: pointer;
}

.subject:first-child {
  margin: 5px 10px 5px 10px;
}

.subject:last-child {
  margin: 5px 15px 5px 10px;
}

.card:hover:not(.selected) {
  box-shadow: 0 0 10px #80bdff;
}

.card.selected {
  box-shadow: 0 0 10px #80bdff;
}

.card-body {
  position: relative;
}

.module-wrap {
  margin: 0;
  padding: 0;
}

.course-wrap:hover .semester-control {
  visibility: visible;
}

.row {
  margin-left: 0;
  margin-right: 0;
}

ul {
  list-style: none;
}

.title_lines {
  position: relative;
  display: block;
  font-size: 30px;
  z-index: 1;
  overflow: hidden;
  text-align: center;
  color: black;
}

.title_lines:before,
.title_lines:after {
  position: absolute;
  top: 51%;
  overflow: hidden;
  width: 48%;
  height: 1px;
  content: "\a0";
  background-color: #cccccc;
  margin-left: 2%;
}

.title_lines:before {
  margin-left: -50%;
  text-align: right;
}

.semester-control {
  visibility: hidden;
  position: relative;
  width: 100%;
  height: 35px;
}

.semester-control-inner {
  position: absolute;
  transform: translateX(-50%);
  left: 50%;
}

.semester-active:hover .edit-area {
  visibility: visible;
}

.edit-area {
  height: 100%;
  visibility: hidden;
  margin: 3px;
  place-items: center;
}

.edit-area button {
  padding: 9px 5px;
}

.module-control {
  visibility: hidden;
  position: absolute;
  bottom: 0;
  left: 10px;
}

.selected:hover .module-control {
  visibility: visible;
}

.course-label {
  align-items: center;
  margin: 0;
  height: 38px;
}

.course-wrapper:hover .course-modal {
  visibility: visible;
}

.course-modal {
  visibility: hidden;
}
